@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import "tailwindcss";

html,
body {
  width: 100%;
  min-height: 100vh;
}

#__next {
  min-height: 100vh;
}

#main-visual-title {
  font-family: "Monoton", cursive;
  word-spacing: 0.2em;
}

#about-text {
  font-family: "Monoton", cursive;
  word-spacing: 0.2em;
}

#contact-text {
  font-family: "Monoton", cursive;
  word-spacing: 0.2em;
}
